@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

:root {
  --theme-font: 'Bebas Neue', sans-serif;
}

html, body {
  font-family: var(--theme-font) !important;
}

* {
  font-family: var(--theme-font) !important;
}
